/* Start Variables */
:root {
    --main-color: hsl(200 100% 50%);
    --main-background: #ECECEC;
    --section-padding: 80px;
    --shadow-color: #BBB;
}
/* End Variables */
/* Start Global Rules */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
/* End Global Rules */
/* Start Components */
.special-heading {
    width: fit-content;
    margin: 0 auto 70px;
    position: relative;
}
.special-heading::before,
.special-heading::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.special-heading::before {
    right: -30px;
}
.special-heading::after {
    left: -30px;
}
.special-heading:hover::before {
    animation: dots-right .8s both;
}
.special-heading:hover::after {
    animation: dots-left .8s both;
}
@keyframes dots-left {
    60% {
        left: 0px;
    }
    100% {
        left: 0;
        height: 100%;
        width: 51%;
        border-radius: 0;
    }
}
@keyframes dots-right {
    60% {
        right: 0;
    }
    100% {
        right: 0;
        height: 100%;
        width: 51%;
        border-radius: 0;
    }
}
.special-heading h1 {
    margin: 0;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    padding: 5px 15px;
    outline: 2px solid black;
}
@keyframes change-color {
    100% {
        color: white;
        outline: none;
    }
}
.special-heading:hover h1 {
    animation: change-color 0s .7s both;
}
.dots {
    position: relative;
}
.dots::before,
.dots::after {
    content: '';
    position: absolute;
    width: 240px;
    height: 200px;
    background-image: radial-gradient(var(--main-color) 3.5px, transparent 0);
    background-size: 20px 20px;
    z-index: -1;
}
.dots::before {
    right: 0;
    top: 130px;
}
.dots::after {
    left: 0;
    bottom: 130px;
}
.heading {
    text-align: center;
}

.heading h1 {
    font-size: 45px;
}
/* End Components */
/* Start Haeder */
header {
    background-color: white;
    box-shadow: 0 0 10px 0 #DDD;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }
}
header .logo a {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
}
@media (max-width: 768px) {
    header .logo {
        margin-top: 5px;
    }
}
header nav > ul {
    display: flex;
}
header nav > ul > li a {
    display: block;
    font-size: 20px;
    height: 70px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    color: black;
    overflow: hidden;
    position: relative;
}
@media (max-width: 768px) {
    header nav > ul > li a {
        height: 40px;
        font-size: 15px;
        padding: 0 10px;
    }
}
header nav > ul > li a:hover {
    background-color: #f8f8f8;
    color: var(--main-color);
    -webkit-transition: .5s -.1s;
    -moz-transition: .5s -.1s;
    -ms-transition: .5s -.1s;
    -o-transition: .5s -.1s;
    transition: .5s -.1s;
}
header nav > ul > li a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: -300px;
    background-color:var(--main-color);
    -webkit-transition: .5s -.1s;
    -moz-transition: .5s -.1s;
    -ms-transition: .5s -.1s;
    -o-transition: .5s -.1s;
    transition: .5s -.1s;
}
header nav > ul > li a:hover::after {
    left: 0;
}
header nav .menu {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 100%;
    border-bottom: 3px solid var(--main-color);    
    left: 0;
    top: calc(100% + 50px);
    animation: up .3s both;
}
header nav > ul  li:nth-child(4):hover + .menu, 
header nav > ul li:nth-child(4) + .menu:hover {
    display: flex;
    align-items: center;
}
@keyframes up {
    to {
        top: calc(100% + 2px);
    }
}
header nav ul .menu .image {
    flex-basis: 50%;
    text-align: center;
    margin: 10px 0;
}
@media (max-width: 768px) {
    header nav ul .menu .image {
        display: none;
    }
}
header nav ul .menu .image img {
    width: 80%;
}
header nav ul .menu ul {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    header nav ul .menu ul {
        flex-basis: 100%;
        margin: 0;
    }
}
header nav ul .menu ul li {
    flex-basis: 40%;
}
@media (max-width: 768px) {
    header nav ul .menu ul li {
        flex-basis: 100%;
    }
}
header nav ul .menu ul li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    position: relative;
    overflow: hidden;
}
header nav ul .menu ul li:not(:last-of-type) a {
    border-bottom: 1px solid #EEE;
}
@media (min-width: 768px) {
    header nav ul .menu ul li:nth-last-of-type(2) a {
        border-bottom: none;
    }
}
header nav ul .menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: gray;
    opacity: .1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
header nav ul .menu ul li a:hover::after {
    left: 0;
}
header nav ul .menu ul li i {
    margin-right: 10px;
}
/* End Haeder */
/* Start Landing Section */
.landing {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 70px);
}
.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-background);
    top: -15%;
    left: 0;
    transform: skewY(-7deg);
}
.landing .container {
    height: 75%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing .info {
    width: 900px;
    max-width: 100%;
    margin-top: 30px; 
}
@media (max-width: 768px) {
    .landing .info {
        text-align: center;
    }
}
.landing .info h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
.landing .info p {
    font-size: 23px;
    line-height: 1.8;
    color: #777;
}
.landing .image {
    text-align: right;
}
.landing .image img {
    width: 90%;
    transform: translateY(-20px);
    animation: up-down 3s infinite alternate;
}
@media (max-width: 768px) {
    .landing .image {
        display: none;
    }
}
@keyframes up-down {
    100% {
        transform: translateY(20px);
    }
}
.landing .scroll-down {
    position: absolute;
    width: 50px;
    text-align: center;
    bottom: 20px;
    left: calc(50% - 25px);
    font-size: 25px;
    animation: bouns 1.5s infinite;
}
@keyframes bouns {
    20% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
.landing .scroll-down i {
    color: var(--main-color);
}
/* End Landing Section */
/* Start Articles section */
.articles {
    padding: var(--section-padding) 0;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .article {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #dadada;
    transition: transform .5s, box-shadow .5s;
}
.articles .article:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 0 var(--shadow-color);
}
.articles .article .image img {
    width: 100%;
}
.articles .article .info {
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
}
.articles .article .info h3 {
    margin: 10px 0;
}
.articles .article .info p {
    line-height: 1.8;
    color: #777;
    padding-bottom: 5px;
}
.articles .article .more {
    position: relative;
    padding: 20px;
}
.articles .article .more::after {
    font-family: "Font Awesome 6 free";
    content: '\f178';
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--main-color);
}
@keyframes to-right {
    100% {
        right: 15px;
    }
}
.articles .article:hover .more::after {
    animation: to-right .5s infinite;
}
.articles .article .more a {
    color: var(--main-color);
    font-weight: bold;
}
/* End Articles section */
/* Start Gallery Section */
.gallery {
    padding: var(--section-padding) 0;
    background-color: var(--main-background);
    position: relative;
}
.gallery::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-background);
    width: 100%;
    height: 30px;
    background-image: linear-gradient(-135deg, white 15px, transparent 0), linear-gradient(135deg, white 15px, transparent 0);
    background-size: 30px;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}
.gallery .box {
    background-color: white;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    padding: 15px;
}
.gallery .box .image {
    overflow: hidden;
    position: relative;
}
.gallery .box .image::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: white;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.1;
}
@keyframes overlay {
    to {
        width: 100%;
        height: 100%;
    }
} 
.gallery .box .image:hover::after {
    animation: overlay 250ms;
}
.gallery .box .image:hover img {
    -webkit-transform: rotate(4deg) scale(1.1);
    -moz-transform: rotate(4deg) scale(1.1);
    -ms-transform: rotate(4deg) scale(1.1);
    -o-transform: rotate(4deg) scale(1.1);
    transform: rotate(4deg) scale(1.1);
}
.gallery .box .image img {
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
/* End Gallery Section */
/* Start Features Section */
.features {
    padding: var(--section-padding) 0;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}
.features .feature { 
    border: 1px solid #BBB;
}
.features .feature .image {
    position: relative;
    overflow: hidden;
}
.features .feature .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    left: 0;
    top: 0;
}
.features .feature.red .image::before {
    background-color: red;
}
.features .feature.green .image::before {
    background-color: #009688;
}
.features .feature.blue .image::before {
    background-color: var(--main-color);
}
.features .feature .image::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white;
    border-width: 0 0 150px 500px;
    bottom: 0;
    right: 0;
    transition: .3s;
}
.features .feature:hover .image::after {
    border-width: 170px 500px 170px 0;
}
.features .feature .image img {
    width: 100%;
}
.features .feature .info {
    text-align: center;
    margin-top: 40px;
}
.features .feature .info h2 {
    font-size: 40px;
    margin: 0 auto;
    padding: 0 0 20px;
    width: fit-content;
    position: relative
}
.features .feature .info h2::after {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: 5px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.features .feature.red .info h2::after {
    background-color: #F44336;
}
.features .feature.green .info h2::after {
    background-color: #009688;
}
.features .feature.blue .info h2::after {
    background-color: var(--main-color);
}
.features .feature .info p {
    margin: 50px 30px;
    font-size: 20px;
    line-height: 2;
    color: #777;
}
.features .feature .info button {
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 25px;
    border-radius: 5px;
    border: 3px solid;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: .3s;
}
.features .feature.red .info button {
    color: #F44336;
    border-color: #F44336;
}
.features .feature.green .info button {
    color: #009688;
    border-color: #009688;
}
.features .feature.blue .info button {
    color: var(--main-color);
    border-color: var(--main-color);
}
.features .feature .info button::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    transition: .3s;
}
.features .feature.red .info button::before {
    background-color: #F44336;
}
.features .feature.green .info button::before {
    background-color: #009688;
}
.features .feature.blue .info button::before {
    background-color: var(--main-color);
}
.features .feature:hover .info button {
    color: white;
}
.features .feature:hover .info button::before {
    left: 0;
}
/* End Features Section */
/* Start Testimonials Section */
.testimonials {
    padding: var(--section-padding) 0;
    background-color: var(--main-background);
}
.testimonials .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.testimonials .rate {
    border-radius: 5px;
    background-color: white;
    margin-bottom: 30px;
    position: relative;
}
@media (min-width: 992px) {
    .testimonials .rate {
        flex-basis: calc((100% - 40px) / 2);
    }
}
@media (min-width: 1199px) {
    .testimonials .rate {
        flex-basis: calc((100% - 80px) / 3);
    }
}
.testimonials .rate .image {
    width: 80px;
    position: absolute;
    right: 10px;
    top: -25%;
}
.testimonials .rate .image img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--main-background);
}
.testimonials .rate .info {
    padding: 20px;
}
.testimonials .rate .info p {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.6;
    color: #777;
}
.testimonials .rate .info .stars i.active {
    color: #ffc107;
}
.testimonials .rate .info p:last-of-type {
    margin-bottom: 0;
}
/* End Testimonials Section */
/* Start Team Section */
.team {
    padding: var(--section-padding) 0;
}
.team .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.team .member {
    border-radius: 10px;
    background-color: var(--main-background);
    margin: 0 30px;
    padding-top: 50px;
    margin-bottom: 30px;
    position: relative;
}
.team .member::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    opacity: .1;
    border-radius: 10px;
    right: 0;
    top: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.team .member:hover::after {
    width: 100%;
}
@media (min-width: 992px) {
    .team .member {
        flex-basis: calc((100% - 180px) / 2);
    }
}
@media (min-width: 1199px) {
    .team .member {
        flex-basis: calc((100% - 260px) / 3);
    }
}
.team .member .profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.team .member .image img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    left: -30px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.team .member:hover .image img {
    filter: grayscale(100%)
}
.team .member .social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .member .social i {
    color: #777;
    margin-bottom: 25px;
    padding: 5px;
    position: relative;
    z-index: 2;
    left: -15px;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.team .member i:hover {
    color: var(--main-color);
}
.team .member .info {
    padding: 20px;
    margin-bottom: 10px;
}
.team .member .info h2 {
    color: var(--main-color);
    margin-bottom: 10px;
}
/* End Team Section */
/* Start Services Section */
.services {
    padding: var(--section-padding) 0;
    background-color: var(--main-background);
    position: relative;
}
.services::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(-135deg, white 15px, transparent 0), linear-gradient(135deg, white 15px, transparent 0);
    background-size: 30px;
    top: 0;
    left: 0;
}
.services .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.services .serv {
    margin-bottom: 40px;
    background-color: white;
    flex-basis: 100%;
    text-align: center;
    padding: 30px 0 0;
    counter-increment: serv-number;
    position: relative;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    overflow-y: visible;
}
@media (min-width: 992px) {
    .services .serv {
        flex-basis: calc((100% - 40px) / 2);

    }
}
@media (min-width: 1199px) {
    .services .serv {
        flex-basis: calc((100% - 80px) / 3);

    }
}
.services .serv:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 10px 3px var(--shadow-color);
}
.services .serv::before,
.services .serv::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    top: -2px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.services .serv::before {
    left: 50%;
}
.services .serv::after {
    right: 50%;
}
.services .serv:hover::before {
    width: 60%;
    left: 0;
}
.services .serv:hover::after {
    width: 60%;
    right: 0;
}
.services .serv .info {
    padding-bottom: 30px;
}
.services .serv .info i {
    color: #dbdbdb;
    font-size: 65px;
    margin-bottom: 20px;
}
.services .serv .info h2 {
    color: var(--main-color);
    font-size: 25px;
}
.services .serv .more {
    background-color: #f9f7f7;
    position: relative;
    overflow: hidden;
}
.services .serv .more::before {
    content: counter(serv-number);
    position: absolute;
    background-color: var(--main-color);
    padding: 0 30px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    color: white;
    bottom: 0;
    left: 0;
}
.services .serv .more::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 70px;
    background-image: linear-gradient(to right, var(--main-color) 30%, #dbdbdb 30% 100%);
    bottom: 0;
    left: 60px;
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.services .serv .more a {
    display: block;
    padding: 0 15px;
    height: 50px;
    color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* End Services Section */
/* Start Skills Section */
.skills {
    padding: var(--section-padding) 0;
}
.skills .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .skills .container {
        flex-direction: column;
    }
    .skills .container .image img,
    .skills .container > .skills-info {
        width: 100%;
    }
}
.skills .image {
    flex-basis: 30%;
}
.skills .skills-info {
    flex-basis: 60%;
    padding: 10px;
}
.skills .skill {
    margin-bottom: 20px;
}
.skills .skill h3 {
    margin-bottom: 15px;
}
.skills .skill span {
    display: block;
    height: 30px;
    background-color: var(--main-background);
    position: relative;
}
.skills .skill span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: var(--main-color);
}
.skills .skill span[value="70%"]::before {
    width: 70%;
}
.skills .skill span[value="85%"]::before {
    width: 85%;
}
.skills .skill span::after {
    content: attr(value);
    position: absolute;
    right: 0;
    top: -35px;
    padding: 2px 4px;
    font-size: 13px;
    font-weight: 800;
    color: var(--main-color);
    border: 1px solid #DDD;
    border-radius: 5px;
}
/* End Skills Section */
/* Start work Section  */
.work {
    padding: var(--section-padding) 0;
    background-color: var(--main-background);
}
.work .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .work .container {
        flex-direction: column;
    }
    .work .image {
        margin-bottom: 20px;
    }
}
.work .container > .image {
    flex-basis: 45%;
}
.work .image img {
    width: 100%
}
.work .work-info {
    flex-basis: 50%;
}
.work .work-info .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    overflow: hidden
}
@media (max-width: 768px) {
    .work .work-info .box {
        flex-direction: column;
    }
    .work .work-info .box .info {
        text-align: center;
    }
}
.work .work-info .box::after {
    content: '';
    position: absolute;
    background-color: #969696;
    opacity: .1;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.work .work-info .box:hover::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.work .work-info .box .image {
    flex-basis: 15%;
    text-align: center;
}
@media (max-width: 768px) {
    .work .work-info .box .image {
        width: 30%;
    }
}
.work .work-info .box .image img {
    width: 90%;
}
.work .work-info .box .info {
    flex-basis: 80%;
    z-index: 2;
}
.work .work-info .box .info h2 {
    margin-bottom: 15px;
}
.work .work-info .box .info p {
    color: #777;
    line-height: 1.8;
}
/* End work Section  */
/* Start Events Section */
.events {
    padding: var(--section-padding) 0;
}
.events .container {
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .events .container {
        flex-direction: column;
    }
}
.events .container .image {
    flex-basis: 40%;
}
.events .container .image img {
    width: 100%;
}
.events .event-info {
    text-align: center;
    flex-basis: 60%;
}
.events .event-info .time {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events .event-info .time > div {
    position: relative;
    padding: 15px;
    padding-bottom: 30px;
    border: 1px solid #AAA;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
}
.events .event-info .time > div:hover {
    border-color: var(--main-color);
}
.events .event-info .time > div::before {
    content: attr(time);
    position: relative;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 800;
}
.events .event-info .time > div::after {
    position: absolute;
    width: 100%;
    padding: 3px 0;
    font-size: 14px;
    text-align: center;
    bottom: 0;
    left: 0;
    border-top: inherit;
}
.events .event-info .time > div.days::after {
    content: "Days";
}
.events .event-info .time > div.hours::after {
    content: "Hours";
}
.events .event-info .time > div.minutes::after {
    content: "Minutes";
}
.events .event-info .time > div.seconds::after {
    content: "Seconds";
}
.events .event-info .text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.events .event-info .text p {
    color: #777;
    font-size: 18px;
    line-height: 1.8;
}
.events .subscribe {
    margin-top: 50px;
}
.events form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    padding: 30px;
    margin: 0 auto;
    background-color: var(--main-background);
    border-radius: 50px;
}
@media (max-width: 768px) {
    .events form {
        flex-direction: column;
        margin: 0 10px;
        border-radius: 0;
    }
    .events form input[type=email] {
        margin-bottom: 20px;
    }
}
.events form input {
    outline: none;
    border: none;
    padding: 15px;
    border-radius: inherit;
}
.events form input[type=email] {
    flex-basis: 77%;
    width: 100%;
    caret-color: var(--main-color);
}
.events form ::placeholder {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.events form input:focus::placeholder {
    opacity: 0;
}
.events form input[type=submit] {
    flex-basis: 20%;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.events form input[type=submit]:hover {
    background-color: hsl(200, 100%, 45%);
}
/* End Events Section */
/* Start Plans Section */
.plans {
    padding: var(--section-padding) 0;
    background-color: var(--main-background);
}
.plans.dots::before,
.plans.dots::after {
    z-index: 0;
}
.plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}
.plans .plan {
    background-color: white;
    position: relative;
    z-index: 2; 
    box-shadow: 0 0 10px 2px var(--shadow-color);
    overflow: hidden;
}
.plans .plan.advanced {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}
.plans .plan::before,
.plans .plan::after {
    content: '';
    position: absolute;
    background-color: gray;
    opacity: .1;
    width: 100%;
    height: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1;
}
.plans .plan::before {
    left: -100%;
    top: 0;
}
.plans .plan::after {
    right: -100%;
    bottom: 0;
}
.plans .plan:hover::before {
    left: 0;
}
.plans .plan:hover::after {
    right: 0;
}
.plans .plan .plan-info {
    text-align: center;
    position: relative;
}
.plans .advanced .plan-info::before {
    content: "Most Popular";
    position: absolute;
    padding: 5px 20px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: rotate(90deg);
    top: 30px;
    right: -45px;
}
.plans .advanced .plan-info::after {
    content: "";
    position: absolute;
    border-width: 16px;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent white;
    top: 93px;
    right: 16.8px;
    transition: all 0.3s ease 0s;
}
.plans .advanced:hover .plan-info::after {
    border-color: transparent transparent #f2f2f2 transparent;
}
.plans .plan .plan-info h2 {
    margin: 20px 0;
}
.plans .plan .plan-info i {
    margin-bottom: 80px;
    font-size: 90px;
    color: var(--main-color);
}
.plans .plan .plan-info span {
    display: block;
    position: relative;
    color: #777;
    font-size: 15px;
}
.plans .plan .plan-info span::before {
    content: attr(price);
    position: absolute;
    bottom: 100%;
    left: calc(50% + 15px);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.plans .plan .plan-info span::after {
    content: attr(currency);
    position: absolute;
    bottom: 100%;
    right: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.plans .plan ul.plan-text {
    margin: 15px 0;
}
.plans .plan ul.plan-text li {
    padding: 20px;
    border-top: 1px solid var(--main-background);
}
.plans .plan ul.plan-text li::before {
    font-family: "Font Awesome 6 free";
    content: "\f00c";
    position: relative;
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
.plans .plan a {
    display: block;
    width: fit-content;
    margin: 30px auto;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.plans .plan a:hover {
    color: white;
    background-color: var(--main-color);
}
/* End Plans Section */
/* Start Videos Section */
.videos {
    padding: var(--section-padding) 0;
}
.videos .container {
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) {
    .videos .container {
        flex-direction: row;
        padding: 0;
        border: none
    }
}
.videos .video .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CCC;
}
.videos .video .heading > * {
    padding: 15px;
    font-size: 16px;
}
.videos .video ul.video-list {
    background-color: white;
    border: 1px solid #CCC;
}
.videos .video ul.video-list li {
    padding: 20px 50px 15px 20px;
    border-top: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.videos .video ul.video-list li:hover {
    background-color: #EAEAEA;
    color: var(--main-color)
}
.videos .video ul.video-list li::after {
    content: attr(time);
    display: block;
    position: relative;
    margin: 10px 0;
    color: #777;
}
.videos .image {
    padding: 10px;
    flex: 1;
    background-color: var(--main-background);
    position: relative;
}
.videos .image::after {
    content: "Everything About The Virtual Hosts";
    position: absolute;
    width: calc(100% - 60px);
    padding: 20px;
    background-color: white;
    bottom: 10px;
    left: 10px;
}
.videos .image img {
    width: 100%;
}
/* End Videos Section */
/* Start Stats Section */
.stats {
    padding: var(--section-padding) 0;
    background-image: url("../imgs/stats.jpg");
    background-size: cover;
    position: relative;
}
.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .8;
}
.stats > * {
    position: relative;
    z-index: 2;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.stats .box {
    background-color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.stats .box::before,
.stats .box::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    width: 2px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.stats .box::before {
    bottom: -100%;
    left: 0;
}
.stats .box::after {
    top: -100%;
    right: 0;
}
.stats .box:hover::before {
    bottom: 0;
}
.stats .box:hover::after {
    top: 0;
}
.stats .box i {
    font-size: 30px;
    margin-top: 20px;
}
.stats .box span {
    display: block;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 30px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.stats .box span::before {
    content: attr(number);
    position: relative;
    display: block;
    font-size: 50px;
    color: initial;
    margin: 10px 0;
    font-weight: bold;
}
.stats .box:hover span {
    color: hsl(200, 100%, 45%);
}
/* End Stats Section */
/* Start Discount Section */
.discount {
    display: flex;
    align-items: center;
    width: 100%;
}
.discount > * {
    width: 50%;
    text-align: center;
}
@media (max-width: 992px) {
    .discount {
        flex-direction: column;
    }
    .discount > * {
        width: 100%;
    }
}
.discount .content {
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    position: relative;
}
.discount .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #1787e0;
    opacity: .9;
}
.discount .content .container {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}
.discount .content .heading h1 {
    font-size: 35px;
    font-weight: 800;
    margin: 150px 0 50px
}
.discount .content .discount-text {
    width: 500px;
    max-width: 100%;
    font-size: 18px;
    line-height: 1.6;
}
.discount .content .discount-image {
    width: 350px;
    max-width: 100%;
    margin: 15px 0 50px
}
.discount .content .discount-image img {
    width: 100%;
}
.discount .discount-form .container {
    width: 100%;
}
.discount .discount-form form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
@media (max-width: 992px) {
    .discount .discount-form form {
        width: 100%;
    }
}
.discount .discount-form form > * {
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid #CCC;
    caret-color: var(--main-color);
}
.discount .discount-form form textarea {
    height: 200px;
    resize: none;
}
.discount .discount-form form input[type="submit"] {
    padding: 15px;
    height: fit-content;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.discount .discount-form form input[type="submit"]:hover {
    background-color: hsl(200, 100%, 45%);
}
/* End Discount Section */
/* Start Footer */
footer {
    padding: var(--section-padding) 0 0;
    background-color: #000;
    color: #999;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}
footer .box:first-of-type .social {
    margin-bottom: 20px;
}
footer .box:first-of-type i {
    padding: 15px;
    background-color: #2b2b2b;
    font-size: 20px;
    width: 50px;
    text-align: center;
    color: #CCC;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
footer .box:first-of-type i:first-of-type:hover {
    background-color: hsl(221, 44%, 41%);
}
footer .box:first-of-type i:nth-of-type(2):hover {
    background-color: #00acee;
}
footer .box:first-of-type i:last-of-type:hover {
    background-color: #FF0000;
}
footer .box:first-of-type p {
    line-height: 2;
}
footer .box:nth-of-type(2) li a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #444;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
footer .box:nth-of-type(2) li:last-of-type a {
    border: none;
}
footer .box:nth-of-type(2) li a::before {
    font-family: "Font Awesome 6 free";
    content: "\F101";
    position: relative;
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
footer .box:nth-of-type(2) li:hover a {
    padding-left: 10px;
    color: white;
}
footer .box:nth-last-of-type(2) .line {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
footer .box:nth-last-of-type(2) p {
    flex: 1;
    line-height: 2;
}
footer .box:nth-last-of-type(2) i {
    font-size: 25px;
    margin-right: 15px;
    color: var(--main-color);
}
footer .box:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
footer .box:last-of-type .image {
    flex-basis: calc((100% - 20px) / 3);
    margin-bottom: 10px;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .box:last-of-type .image img {
    width: 100%;
    height: 100%;
}
footer .copyright {
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #444;
    color: white;
}
footer .copyright i {
    color: red;
}
/* End Footer */